name: Publish crate

on:
    workflow_call:
        inputs:
            matrix:
                description: >
                    JSON array for strategy.matrix.include.
                    Each object must contain "cargo-extra-args".
                    Default = single job with --all-features.
                required: false
                type: string
                default: '[{"cargo-extra-args": "--all-features"}]'
        secrets:
            CARGO_REGISTRY_TOKEN:
                required: true

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: nigeleke/github/.github/actions/os-prerequisites@main
              with:
                  os: ubuntu-latest
            - uses: nigeleke/github/.github/actions/rust-setup@main
            - uses: nigeleke/github/.github/actions/crates-io-publish@main
              env:
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
              with:
                  cargo-extra-args: ${{ matrix.cargo-extra-args }}
