name: Publish crate

on:
    workflow_call:
        secrets:
            CARGO_REGISTRY_TOKEN:
                required: true

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: nigeleke/github/.github/actions/os-prerequisites@main
              with:
                  os: ubuntu-latest
            - uses: nigeleke/github/.github/actions/rust-setup@main
            - uses: nigeleke/github/.github/actions/crates-io-publish@main
              env:
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
