name: Publish Docs and Coverage

on:
    workflow_call:

permissions:
    contents: write
    pages: write
    id-token: write

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - uses: nigeleke/github/.github/rust-setup@main
            - uses: nigeleke/github/.github/actions/rust-docs@main
            - uses: nigeleke/github/.github/actions/rust-llvm-cov@main
            - uses: nigeleke/github/.github/actions/codecov-publish@main
            - uses: nigeleke/github/.github/actions/gh-pages-publish@main
