name: Rust QA

on:
    workflow_call:
        inputs:
            toolchain:
                description: "Rust toolchain"
                required: false
                type: string
                default: "stable"
            env:
                description: "JSON object of environment variables to set"
                required: false
                type: string
                default: "{}"
            matrix:
                description: >
                    JSON array for strategy.matrix.include.
                    Each object must contain "cargo-extra-args".
                    Default = single job with --all-features.
                required: false
                type: string
                default: '[{"cargo-extra-args": "--all-features"}]'

jobs:
    qa:
        runs-on: ubuntu-latest
        env: ${{ fromJSON(inputs.env) }}

        steps:
            - uses: nigeleke/github/.github/actions/os-prerequisites@main
              with:
                  os: ubuntu-latest

            - uses: nigeleke/github/.github/actions/rust-setup@main
              with:
                  toolchain: ${{ inputs.toolchain }}

            - uses: nigeleke/github/.github/actions/rust-qa@main
              with:
                  cargo-extra-args: ${{ matrix.cargo-extra-args }}
