name: Publish Docs and Coverage

on:
    workflow_call:
        secrets:
            CODECOV_TOKEN:
                required: true

permissions:
    contents: write
    pages: write
    id-token: write

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - uses: nigeleke/github/.github/actions/rust-setup@main
            - uses: nigeleke/github/.github/actions/rust-docs@main
            - uses: nigeleke/github/.github/actions/rust-llvm-cov@main
            - uses: nigeleke/github/.github/actions/codecov-publish@main
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
            - uses: nigeleke/github/.github/actions/gh-pages-publish@main
